.marquee {
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 76px;
  padding: 10px 0;
  width: 100%;

  &__inner {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__content {
    position: relative;
    margin-right: 68px;
    width: 100%;
    font: var(--marquee-font);
    white-space: nowrap;
  }

  &__content::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 36px;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    background-color: var(--black-color);
  }
}

.marquee-infinite {
  overflow: hidden;
  margin: 30px auto 64px;
  max-width: 100%;
}

.marquee-infinite div {
  display: flex;
  width: 200%;
  animation: marquee-infinite 5s linear infinite;
}

.marquee-infinite h1 {
  white-space: nowrap;
  width: 100%;
}

.marquee-infinite span {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.marquee-infinite img {
  width: 20%;
}

.marquee-infinite:hover div {
  animation-play-state: paused;
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
