.services {
  position: relative;
  margin-bottom: 144px;

  &-container {
    position: relative;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 240px 345px 1fr;
  }

  &__info {
    padding-top: 20px;

    p:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__lists {
    padding-top: 20px;

    &__mark {
      margin-bottom: 40px;
    }
  }

  @media (max-width: 1024px) {
    margin-bottom: 80px;

    &-container {
      column-gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, fit-content(100%));
    }

    &__info {
      padding-bottom: 35px;
      border-bottom: 1px solid var(--black-color);
    }

    &__lists {
      padding-top: 35px;
    }
  }
}
