<section class="about" id="about" data-scroll-section>
  <div class="about-container container">
    <div
      class="about-image loco-block"
      data-scroll
      data-scroll-speed="2"
      data-scroll-class="scroll-class">
      <img src="../img/about-img.png" alt="image">
    </div>
    <h2 class="section-title about__title" section-number="01.">О нас</h2>
    <div class="about__info">С 2008 года Master-shelt делает всё, чтобы Ваш проект быстро и эффективно выполнял
      поставленные задачи. Мы осуществляем профессиональную разработку, продвижение и поддержку любой сложности,
      индивидуально подходим к каждому проекту и готовы предложить самые актуальные и нестандартные современные решения.
    </div>
    <div class="about__advantages">
      <div class="about__advantages-item" data-scroll data-scroll-repeat data-scroll-speed="2">
        <h3>2008</h3>
        <p>год основания компании</p>
      </div>
      <div class="about__advantages-item" data-scroll data-scroll-repeat data-scroll-speed="3">
        <h3>192</h3>
        <span></span>
        <p>выполненных проекта разной сложности</p>
      </div>
      <div class="about__advantages-item" data-scroll data-scroll-repeat data-scroll-speed="4">
        <h3>16</h3>
        <span></span>
        <p>человек в штате компании</p>
      </div>
    </div>
  </div>
</section>
