<section class="awards">
  <div class="awards-container container">
    <h2 class="section-title awards__title" section-number="03.">Наши партнеры</h2>
    <div class="awards__slider">
      <div class="awards__info">
        <div class="awards__info-item swiper-slide">
          <img src="../img/awards-1.png" alt="awards">
        </div>
        <div class="awards__info-item swiper-slide">
          <img src="../img/awards-2.png" alt="awards">
        </div>
        <div class="awards__info-item swiper-slide">
          <img src="../img/awards-3.png" alt="awards">
        </div>
        <div class="awards__info-item swiper-slide">
          <img src="../img/awards-4.png" alt="awards">
        </div>
      </div>
      <div class="pagination"></div>
    </div>
    <div class="awards__image">
      <img src="../img/awards.png" alt="awards">
    </div>
  </div>
</section>
