<section class="contacts" id="contacts" data-scroll data-scroll-section>
<!--  <div class="marquee contacts__marquee">-->
<!--    <div class="marquee__inner">-->
<!--      <p class="marquee__content">info@master-shelt.com</p>-->
<!--      <p class="marquee__content">info@master-shelt.com</p>-->
<!--      <p class="marquee__content">info@master-shelt.com</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="marquee-infinite">-->
<!--    <div>-->
<!--      <p class="marquee__content">info@master-shelt.com</p>-->
<!--      <p class="marquee__content">info@master-shelt.com</p>-->
<!--      <p class="marquee__content">info@master-shelt.com</p>-->
<!--      <p class="marquee__content">info@master-shelt.com</p>-->
<!--      <p class="marquee__content">info@master-shelt.com</p>-->
<!--      <p class="marquee__content">info@master-shelt.com</p>-->
<!--    </div>-->
<!--  </div>-->
  <div class="contacts-container container">
    <h2 class="section-title contacts__title" section-number="04.">Контакты</h2>

      <div class="contacts__info">
        <div class="contacts__info-item">
          <span>Адрес:</span>
          <h3>Москва, 153000, ул.&nbsp;Эйнштейна,&nbsp;24</h3>
        </div>
        <div class="contacts__info-item">
          <span>E-mail:</span>
          <a href="mailto:info@master-shelt.com">info@master-shelt.com</a>
        </div>
        <div class="contacts__info-item">
          <span>Телефон:</span>
          <a href="tel:8-800-666-66-67">8 800 666 66 67</a>
        </div>
        <div class="contacts__info-item">
          <span>Телеграм:</span>
          <a href="tel:8-800-666-66-67">8 800 666 66 67</a>
        </div>
      </div>
      <div class="contacts__image show-modal" data-path="modal-feedback">
      <img src="../img/btn.png" alt="image">
    </div>
  </div>
</section>
