<div class="form-wrapper contact-form__wrapper">
  <form class="contact-form" action="#" novalidate="novalidate">
    <label class="contacts-form__label" for="name1">
      <input
        class="contacts-form__input input-name1"
        id="name1"
        type="text"
        name="name1"
        placeholder="Имя"
      />
    </label>
    <label class="contacts-form__label" for="email1">
      <input
        class="contacts-form__input input-email1"
        id="email1"
        type="email"
        name="email1"
        placeholder="E-mail"
      />
    </label>
    <label class="contacts-form__label" for="name1">
      <input
        class="contacts-form__input input-tel1"
        id="tel1"
        type="tel"
        name="tel1"
        placeholder="Телефон"
      />
    </label>
    <label class="contacts-form__label" for="message">
      <textarea
        class="contacts-form__textarea"
        id="message"
        name="message"
        placeholder="Оставьте ваше сообщение"
        rows="5"
      ></textarea>
    </label>
    <button class="btn-reset contact-form__button" id="submit-btn">Отправить</button>
  </form>
</div>
