<section class="discuss">
  <div class="container discuss-container">
  <h2 class="section-title">Давайте обсудим</h2>
<div class="form-wrapper">
  <form class="contacts-form">
    <label class="contacts-form__label" for="name">
      <input
        class="contacts-form__input"
        id="name"
        type="text"
        name="name"
        placeholder="Имя"
      />
    </label>
    <label class="contacts-form__label" for="email">
      <input
        class="contacts-form__input"
        id="email"
        type="email"
        name="name"
        placeholder="E-mail"
      />
    </label>
    <label class="contacts-form__label" for="name">
      <input
        class="contacts-form__input"
        id="phone"
        type="tel"
        name="name"
        placeholder="Телефон"
      />
    </label>
    <button class="btn-reset contacts-form__button"></button>
  </form>
</div>
  </div>
</section>
