<section class="events">
  <div class="container">
    <h2 class="section-title events-title" section-number="03.">Мероприятия</h2>
    <div class="events__list">
      <article class="events__list-item">
        <div class="item-image">
          <img src="../img/event-1.png" alt="item-image">
        </div>
        <h3>Длинное название мероприятия в две строки 30.09.2022</h3>
        <div class="item-text">
          <p>Описание мероприятия, дата проведения, формат, программа, адрес Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних....</p>
        </div>
      </article>
      <article class="events__list-item">
        <div class="item-image">
          <img src="../img/event-1.png" alt="item-image">
        </div>
        <h3>Длинное название мероприятия в две строки 30.09.2022</h3>
        <div class="item-text">
          <p>Описание мероприятия, дата проведения, формат, программа, адрес Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних....</p>
        </div>
      </article>
    </div>
  </div>
</section>
