<section class="hero" data-scroll-section>
  <div class="hero-container container" >
    <div class="hero__item hero__subtitle">больше, чем просто</div>
    <div class="hero__item hero__title">программное обеспечение</div>
    <div class="hero__item hero__info">аудит, разработка, PR и редизайн, приложения, сайты</div>
    <div class="hero__item hero__img show-modal" data-path="modal-feedback">
      <img src="../img/btn.png" alt="callback img">
    </div>
    <div class="hero__item hero__mail" >
      <a href="mailto:mailbox@master-shelt.com">mailbox@master-shelt.com</a>
    </div>
  </div>
</section>
