<section class="locomotive-top">
  <div class="container locomotive-top__container">
    <div class="locomotive__item locomotive-top-one">
      <img src="../img/locomotive-top-1.png" alt="locomotive image">
    </div>
    <div class="locomotive__item locomotive-top-two">
      <img src="../img/locomotive-top-2.png" alt="locomotive image">
    </div>
    <div class="locomotive__item locomotive-top-three">
      <img src="../img/locomotive-top-3.png" alt="locomotive image">
    </div>
  </div>
</section>
