<section class="locomotive-top">
  <div class="container locomotive-top__container" data-scroll-section>
    <div class="locomotive__item locomotive-top-one">
      <img src="../img/locomotive-top-1.png" alt="locomotive image">
    </div>
    <div
      class="locomotive__item locomotive-top-two loco-block"
      data-scroll
      data-scroll-speed="3"
      data-scroll-class="scroll-class"
    >
      <img src="../img/locomotive-top-2.png" alt="locomotive image">
    </div>
    <div class="locomotive__item locomotive-top-three" data-scroll>
      <img src="../img/locomotive-top-3.png" alt="locomotive image">
    </div>
  </div>
</section>
