<section class="projects">
  <div class="project__container container">
    <div class="projects__grid" data-scroll-container>
      <div class="projects__grid-item item-one" data-scroll-section>
        <img src="../img/project-1.png" alt="project image" data-scroll data-scroll-speed="1">
      </div>
      <div class="projects__grid-item item-two" data-scroll-section>
        <img src="../img/project-2.png" alt="project image" data-scroll data-scroll-speed="3">
      </div>
      <div class="projects__grid-item item-three" data-scroll-section>
        <img src="../img/project-3.png" alt="project image" data-scroll data-scroll-speed="3">
      </div>
      <div  class="projects__grid-item item-four" data-scroll-section>
        <img src="../img/project-4.png" alt="project image" data-scroll data-scroll-speed="1">
      </div>
    </div>
  </div>
</section>
