<section class="projects">
  <div class="project__container container" data-scroll-section>
    <div class="projects__grid">
      <div class="projects__grid-item item-one">
        <img src="../img/project-1.png" alt="project image">
      </div>
      <div
        class="projects__grid-item item-two loco-block"
        data-scroll
        data-scroll-speed="3"
        data-scroll-class="scroll-class"
      >
        <img src="../img/project-2.png" alt="project image">
      </div>
      <div
        class="projects__grid-item item-three loco-block"
         data-scroll
        data-scroll-speed="3"
        data-scroll-delay="0.045"
        data-scroll-class="scroll-class"
      >
        <img src="../img/project-3.png" alt="project image">
      </div>
      <div  class="projects__grid-item item-four" >
        <img src="../img/project-4.png" alt="project image">
      </div>
    </div>
  </div>
</section>
