<section class="services" id="services" data-scroll>

<!--  <div class="marquee">-->
<!--    <div class="marquee__inner">-->
<!--      <p class="marquee__content">наши услуги</p>-->
<!--      <p class="marquee__content">наши услуги</p>-->
<!--      <p class="marquee__content">наши услуги</p>-->
<!--      <p class="marquee__content">наши услуги</p>-->
<!--    </div>-->
<!--  </div>-->
  <div class="marquee-infinite">
    <div>
      <p class="marquee__content">наши услуги</p>
      <p class="marquee__content">наши услуги</p>
      <p class="marquee__content">наши услуги</p>
      <p class="marquee__content">наши услуги</p>
      <p class="marquee__content">наши услуги</p>
      <p class="marquee__content">наши услуги</p>
      <p class="marquee__content">наши услуги</p>
      <p class="marquee__content">наши услуги</p>
    </div>
  </div>
  <div class="services-container container">
    <h2 class="section-title about__title" section-number="02.">Услуги</h2>
    <div class="services__info">
      <p>
        Мы создаем cайты любой сложности, собственное программное обеспечение
        CRM-системы, ERP-системы, предоставляем услуги аутсорсинга для реализации сложных IT-решений; разрабатываем решения на основе машинного обучения (AI): распознование лиц, эмоций, автоматизация систем видео наблюдения, различные трекеры; разрабатываем решения аналитики на базе BigData (систематизация, структурирование больших данных, аналитика отраслей).
      </p>
      <p>
        Также занимаемся организацией мероприятий.
      </p>
    </div>
    <div class="services__lists">
      <div class="services__lists__mark">
        <h4>Отдел маркетинга:</h4>
        <ul class="services-lists__items">
          <li class="services-lists__item">создание/развитие личного бренда</li>
          <li class="services-lists__item">организация мероприятий</li>
          <li class="services-lists__item">разработка и запуск рекламных кампаний и спецпроектов</li>
          <li class="services-lists__item">разработка креативной концепции</li>
          <li class="services-lists__item">медийная реклама</li>
          <li class="services-lists__item">SEO-продвижение и SMM</li>
          <li class="services-lists__item">видеореклама (таргетинг)</li>
          <li class="services-lists__item">разработка уникальных дизайн решений и брендинга</li>
          <li class="services-lists__item">performance-маркетинг</li>
          <li class="services-lists__item">продакшн, создание контента</li>
        </ul>
      </div>
      <div>
        <h4>Продакшн (фото-видео контент):</h4>
        <ul class="services-lists__items">
          <li class="services-lists__item">продюсирование</li>
          <li class="services-lists__item">пре-продакшн</li>
          <li class="services-lists__item">продакшн</li>
          <li class="services-lists__item">пост-продакшн</li>
          <li class="services-lists__item">создание компьютерной графики и анимации для видео</li>
        </ul>
      </div>

    </div>
  </div>
</section>
