<div class="order-form__group radiobutton">
  <div class="radiobuttons__group">
  <label class="radiobutton__label" for="radio1">
    <input class="order-form__input order-form__input--radiobutton radio-btn" id="radio1" type="radio" name="radio" checked>
    <span class="checked-style"></span>
    <span class="radio-btn__text">Radio 1</span>
  </label>
  <label class="radiobutton__label" for="radio2">
    <input class="order-form__input order-form__input--radiobutton radio-btn" id="radio2" type="radio" name="radio">
    <span class="checked-style"></span>
    <span class="radio-btn__text">Radio 1</span>
  </label>
  <label class="radiobutton__label" for="radio3">
    <input class="order-form__input order-form__input--radiobutton radio-btn" id="radio3" type="radio" name="radio">
    <span class="checked-style"></span>
    <span class="radio-btn__text">Radio 1</span>
  </label>
  </div>
</div>
