<div class="tab">
  <div class="tab__btns">
    <div class="tab__btn">Описание</div>
    <div class="tab__btn">Характеристики</div>
    <div class="tab__btn">Свойства</div>
    <div class="tab__btn">Прочее</div>
  </div>
  <div class="tab__indicator" id="tab_indicator"></div>
  <div class="tab__body">
    <div class="tab__slide">
      <h1>Описание</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat
        quas quia at laudantium corrupti quidem temporibus cupiditate
        voluptatum eius quo tenetur, perspiciatis quis? Voluptates cumque
        reiciendis aspernatur exercitationem assumenda sed sequi totam
        pariatur quo nostrum quod laudantium mollitia illum soluta
        voluptatem, ad modi repellat optio saepe tenetur nisi. Tenetur,
        optio.
      </p>
    </div>
    <div class="tab__slide">
      <h1>Характеристики</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
        accusamus voluptatem placeat fuga asperiores molestiae sapiente
        omnis repellendus? Itaque voluptatum, dolore, aliquid reiciendis
        sequi error ex quidem quod possimus laboriosam modi ad, ducimus
        neque blanditiis? Ea adipisci omnis modi accusantium sapiente
        facilis quis, deserunt veniam perferendis aspernatur ullam ex nulla!
      </p>
    </div>
    <div class="tab__slide">
      <h1>Свойства</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
        soluta ad! Dolorum expedita laboriosam tempore illum, magni minus
        sed nulla dicta ipsum doloribus alias exercitationem at placeat
        saepe odit maiores aliquam accusantium eveniet officia aut quas
        velit. Fugiat quam sed, sint aliquam dolorum debitis nemo adipisci,
        natus beatae perspiciatis qui.
      </p>
    </div>
    <div class="tab__slide">
      <h1>Прочее</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui
        aliquam doloremque a illum autem, suscipit unde, expedita voluptates
        deserunt quam ullam ad mollitia velit accusamus. A, corrupti dicta
        aut exercitationem minima quod fugiat temporibus eius, tempore in
        doloremque molestias ut itaque, omnis molestiae rerum expedita
        consequatur suscipit soluta vitae id.
      </p>
    </div>
  </div>
</div>
